@use "../../base/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 100;
  top: 0;

  .top {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 20px 16px;
    .pageName {
      font-weight: 700;
      font-size: 18px;
      line-height: 128%;
      text-align: center;
      color: #121417;
    }
    .right-side {
      justify-self: end;
    }
    .left-side {
      justify-self: start;
    }
  }

  .header-input-container {
    padding: 12px 16px;
  }
}
