// .input {
// }

.input input {
  background: #f2f2f5;
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  // background: transparent;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6b7582;
}
