.home-page {
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 128%;
    color: #121417;
    margin: 16px 0;
  }
  .featured {
    .featured-products {
      display: flex;
      gap: 12px;
      overflow-x: auto;
      margin: 16px 0;
      .product {
        display: flex;
        flex-direction: column;
        .product-info {
          margin-top: 16px;
        }
        .product-title {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #121417;
        }
        .product-size {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #6b7582;
        }
      }
    }
  }

  .products-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .product-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .product-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .product-title,
        .product-dosage {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #6b7582;
        }
        .product-size {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #121417;
        }
        .actions {
          margin-top: 8px;
          display: flex;
          background: #f2f2f5;
          border-radius: 12px;
          width: fit-content;
          padding: 0 15px;
          .minus,
          .plus {
            border: none;
            background-color: transparent;
            padding: 5px 10px;
            font-size: 20px;
          }
        }
      }
      img {
        width: 130px;
        height: 118px;
        object-fit: contain;
      }
    }
  }


}
