.pharmacies-page {
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: #fff;
    border-radius: 12px;
    margin: 10px 0;
  }
  .btn {
    border-radius: 12px;
    padding: 0px 16px;
    height: 32px;
    background: #f2f2f5;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #121417;
  }
  .meta {
    .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #121417;
    }
    .subtitle {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #6b7582;
    }
  }
}
